* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 150vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.start {
  margin: 10px;
}

.container {
  border: 0.5px solid #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.canvas {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
}

.square {
  width: 10px;
  height: 10px;
  background-color: #eee;
  border: 0.5px solid #fff;
}